#reset {
    border: 2px solid black;
    background-color: white;
    font: 1em Futura;
}

.box-container {
    display: block;
}

.box {
    border: 3px solid black;
    display: inline-block;
    width: 500px;
    height: 500px;
}

.row {
    display: block;
}

.draggable-box {
    border: 3px solid black;
    margin: 5px;
    background-color: orange;
    color: white;
    font-family: Futura, sans-serif;
    font-size: 5em;
    float: left;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
}

.active {
    background-color: blue;
}

.drop-hover {
    background-color: rgba(0,0,255,.3);
}