#reset,
#randomize {
    border: 2px solid black;
    background-color: white;
    font: 1em Futura;
}

.box-container {
    display: block;
}

.box {
    border: 3px solid black;
    display: inline-block;
    width: 500px;
    height: 500px;
}

.draggable-box {
    border: 3px solid black;
    margin: 5px;
    background-color: #f26822;
    color: white;
    font-family: Futura, sans-serif;
    font-size: 5em;
    float: left;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    cursor: pointer;
    top: -8px;
    left: -8px;
}

.droppable-box {
    float: left;
    border: 3px solid white;
    z-index: 0;
    width: 150px;
    height: 150px;
    margin: 5px;
}

.opposite {
    color: #f26822;
    background-color: white;
}
